* {
    margin: 0;
    padding: 0;
}



main {
    position: relative;
    width: 1020px;
    height: 870px;
    background-color: #2d303a;
}

.bg-bottom {
    position: absolute;
    bottom: 0;
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

footer {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
}
h1 {
    position: absolute;
    margin: 60px 0 0 40px;
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}





h2 {
    position: absolute;
    margin: 118px 0 0 40px;
    width: 940px;
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

ul {
    position: absolute;
    display: flex;
    width: 287px;
    margin: 155px 0 0 41px;
    justify-content: space-between;

    
}
li {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #666d89;
    line-height: 20px;
}

.art {
    padding: 0 6px 0 7px;
}

.web {
    padding: 0 6px 0 7px;
}
.graphic {
    padding: 0 5px 0 6px;
}

.artwork {
    padding: 0 5px 0 6px;
}

li:hover {
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.images-container {
    position: absolute;
    width: 960px;
    height: 621px;
    margin: 186px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;


}

.image {
    margin: 10px;
    height: 187px;
}

h3 {
    position: absolute;
    margin: 66px 858px 0 40px;
    font-size: 30px;
    line-height: 23px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}

h4 {
    position: absolute;
    width: 940px;
    height: 57px;
    margin: 113px 0 0 40px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
}

.feedback {
    position: absolute;
    display: flex;
    margin: 208px 0 0 30px
    
}

.feedback-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px
    
}

.desmond {
    margin: 10px 11px 10px 9px;
}

.photo {
    height: 300px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 17px 0 0 -1px;
    letter-spacing: -0.1px;
}

h5.name-desmond {
    margin: 17px 0 0 0px;

}

h6 {
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin: 10px 0 0 -1px;
    letter-spacing: -0.06px;
}

h6.name-desmond {
    margin: 10px 0 0 0px;
}


.socials {
    width: 152px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 1px;
}
.social-button {
    width: 32px;
}

.social-button:hover {
    cursor: pointer;
}

.socials.scolara {
    margin: 24px 0 0 0px;
}


.bottom-line {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}
